#header{
	text-align: center;
	margin: 0 auto;
	width: 1000px;
	padding: 1em;
	background-color: #FF5050;
}
form{
	margin: 0 auto;
	width: 1000px;
	padding: 1em;
	background-color: #3366CC;
}
body{
	color: white;
}

